<br>
<br>
<div class="container">
    
<article class="uk-comment uk-comment-primary">
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="https://scontent-mrs2-2.xx.fbcdn.net/v/t1.6435-9/146918268_2824117011239982_1549111697715844916_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=4EO28VsFcJkAX9eq0FB&tn=XsoK2H_Gw9CPpfU5&_nc_ht=scontent-mrs2-2.xx&oh=67c1a1551834947e90871599ed867dd9&oe=6143BA4B" width="200" height="200" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
               
            </div>
        </div>
    </header>
    <div class="uk-comment-body">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
</article>
</div>